@charset "utf-8";

@media(min-width:601px) and (max-width: 849px){

  .container{width: 100%; height: 100%; margin: 0 auto;}

#slidewrap{width: 100%; height: 937px; overflow: hidden;}
.slide{width: 500vw; position: relative; }
.slide>li{width: 100vw; height: 937px; background-position: center; background-size: cover; float:left; position: relative;}
.slidBox{width: 60%; margin-left: 19%; margin-top: 490px;}
.slide>li h1{font-family: 'S-CoreDream-5Medium'; font-size: 35px; margin-top: 10px; margin-bottom: 20px;}
.slide>li h1 sup{font-family: 'S-CoreDream-5Medium'; font-size: 20px;}
.slide>li p{font-family: 'RIDIBatang'; font-size: 18px; line-height: 35px;}
.previous{width: 60px; height: 30px; border: none; background-color:transparent; cursor: pointer; font-family: 'S-CoreDream-5Medium'; font-size: 13px; text-align: center; line-height: 10px; color: #666;}
.next{width: 60px; height: 30px; border: none; background-color:transparent; cursor: pointer; font-family: 'S-CoreDream-5Medium'; font-size: 13px; text-align: center; line-height: 10px; color: #666;}


#contents{width: 100%; height: 1000px;}
.contents_right{width: 100%; height: 100%;}
.contents_work{width: 100%; height: 90%; margin: 8% 0 0 0; display: flex; flex-direction: column;}
.workbox1{height: 20%; background-color: white; transform: translateY(100px); transition: all 1s; opacity: 0;}
.workbox2{height: 20%; background-color: white; transform: translateY(100px); transition: all 1.2s; opacity: 0;}
.workbox3{height: 20%; background-color: white; transform: translateY(100px); transition: all 1.4s; opacity: 0;}
.workbox4{height: 20%; background-color: white; transform: translateY(100px); transition: all 1.6s; opacity: 0;}
.workbox5{height: 20%; background-color: white; transform: translateY(100px); transition: all 1.8s; opacity: 0;}
.workbox6{height: 20%; background-color: white; transform: translateY(100px); transition: all 2s; opacity: 0;}
.workbox1:hover{background-color: aliceblue;}
.workbox2:hover{background-color: aliceblue;}
.workbox3:hover{background-color: aliceblue;}
.workbox4:hover{background-color: aliceblue;}
.workbox5:hover{background-color: aliceblue;}
.workbox6:hover{background-color: aliceblue;}


.work_icon img{width: 13%; float: left; margin-left: 6%; margin-top: 18px;}
.work_text{width: 75%; height: 100%; float: right; display: flex; align-content: center; flex-direction: column; padding: 3%;}
.work_text>h3{font-size: 18px; margin-bottom: 11px; font-family: 'S-CoreDream-5Medium';}
.work_text p{font-size: 14px; line-height: 20px;}


#middle{width: 100%; height: 1000px;}
#middle>.container{display: flex; flex-direction: column;}
.middle_right{width: 100%; height: 50%; order:1; display: block; margin-bottom: 50px;}
.middle_right iframe{width: 100%; height: 100%;}
.middle_left{width: 100%; height: 50%; padding: 3%; order:2; display: block;}
.middle_textbox{text-align: center;}
.middle_textbox>h1{font-size: 30px; margin-bottom: 30px; transform: translateY(100px); transition: all 2s; opacity: 0; font-family: 'S-CoreDream-5Medium'; color: #87c7ff;}
.middle_textbox p{font-size: 15px; line-height: 25px; transform: translateY(100px); transition: all 2s; opacity: 0;}


#counts{width: 100%; height: 25%; display: flex; justify-content: space-around; margin-top: 50px; transform: translateY(100px); transition: all 2s; opacity: 0;}
.countBox1{width: 23%; height: 100%; text-align: center; padding-top: 5%;}
.countBox2{width: 23%; height: 100%; text-align: center; padding-top: 5%;}
.countBox3{width: 23%; height: 100%; text-align: center; padding-top: 5%;}
.countBox4{width: 23%; height: 100%; text-align: center; padding-top: 5%;}
.number{margin-bottom: 3%; font-family: 'S-CoreDream-5Medium'; color: #afd9fd;}
.numberP{font-size: 11px; font-family: 'S-CoreDream-4Regular';color: rgb(134, 134, 134);}



#wwfStory{width: 100%; height: 1350px; padding: 50px; background-color: aliceblue;}
.wwfStorybox{width: 100%; height: 100%;}
.wwfStorybox_index{width: 100%; height: 150px; display: flex; justify-content: center; align-items: center; margin-bottom: 20px;}
.wwfStorybox_text{width: 100%; height: auto; text-align: center;}
.wwfStorybox_text>p{font-family: 'S-CoreDream-3Light';}
.wwfStorybox_text h1{font-family: 'S-CoreDream-5Medium';}

.wwfStorybox_left{width: 100%; height: 550px; float: left;}
.wwfStorybox_left>img{width: 100%; height: 100%; background-size: cover; background-position: center;}

.wwfStorybox_right{width: 100%; height: 500px; float: right; padding: 3%;}

.wwfStorybox_rightText{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-around;}
.wwfStorybox_rightText h2{font-family: 'S-CoreDream-5Medium';}
.wwfStorybox_rightText h4{line-height: 30px; color: rgb(70, 70, 70);}
.wwfStorybox_rightText p{color: #666;}


#detail{width: 100%; height: 50px; display: flex; }
.more{width: 40%; height: 40px; border-radius: 3px; display: flex; justify-content:center; align-items:center; float:left; border:2px solid #87c7ff; cursor:pointer; font-family: 'S-CoreDream-4Regular'; color: #87c7ff; background-color: white;}
.more span{font-size: 13px;}
.more:hover{background-color: #87c7ff; color: white;}

.another{width: 40%; height: 40px; border-radius: 3px; display: flex; justify-content:center; align-items:center; float: left; font-family: 'S-CoreDream-4Regular';  border: 2px solid  #87c7ff; cursor:pointer; color: #87c7ff; background-color: white; margin-left: 9%;}
.another span{font-size: 13px;}
.another:hover{background-color: #87c7ff; color: white;}


#movies{width: 100%; height: 630px;}
.movies_pic{cursor: zoom-in; width: 100%;}
.movie{width: 48%; height: 100%; background-color: white; position: relative; float: left; margin: 1%;}
.movie:hover > img{opacity: 0.7;}
.movie>img{width: 100%; height: 300px;}
.icon_video{position: absolute; top: 40%; left: 40%; display: none;}

#pop {width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.8); display: none;}
.popup{width: 100%; height: 80%; background-color: black; position: absolute; top: 50%; left: 50%; display: none; z-index: 3; transform: translate(-50%,-50%);}


.close{background-color: black; border: none; color: white; width: 5%; height: 5%; font-size: 20px; cursor: pointer; float: right;}


#history{width: 100%; height: 700px; background-image: url(../img/pic_history.jpg); background-position: center; background-size: cover; margin: 11px auto 0;}
.container>h1{text-align: center; padding-top: 100px;   font-family: 'S-CoreDream-5Medium';}
.logoHistory{width: 70px; margin-top: 40px; margin-left:45%; float: left;}

.historyBox{width: 80%; height: 200px; margin: 190px auto 80px; text-align: center; }
.historyBox {-webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s;}
.historyBox h2{width: 100%; color: white; font-family: 'S-CoreDream-5Medium';}
.historyBox:not(:first-of-type){display: none;}
.historyBox ul{width: 100%; margin-top: 30px; display: flex; flex-direction: column;}
.historyBox ul li{line-height: 30px; color: white; font-family: 'S-CoreDream-4Regular';}

.dotBox{text-align: center;}

.dot {cursor: pointer; width: 15px; height: 15px; margin: 0 5px; background-color: white; border-radius: 50%; display: inline-block; transition: 0.5s ease; border: 2px solid white;}
.active, .dot:hover {background-color: #87c7ff;}

@-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
@keyframes fade {from {opacity: .4} to {opacity: 1}}


#protect{width: 100%; height: 1500px; background: aliceblue;}
.protectBox{width: 100%; height: 1300px; padding-left: 20px;}
.protectBox img{width: 46%; margin-left: 2%; float:left;}
.protectBox h3{font-family: 'S-CoreDream-5Medium';}

.space1{width:35%; background-color: white; margin-left: 13%; margin-top: -105%; padding: 1.5%; line-height: 28px; transform: translateY(100px); transition: all 1s; opacity: 0; float: left;}
.space2{width:35%; background-color: white; margin-left: 61%; margin-top: -105%; padding: 1.5%; line-height: 28px; transform: translateY(100px); transition: all 1s; opacity: 0; float: left;}
.space3{width:35%; background-color: white; margin-left: 13%; margin-top: -10%; padding: 1.5%; line-height: 28px; transform: translateY(100px); transition: all 1s; opacity: 0; float: left;}
.space4{width:35%; background-color: white; margin-right: 4%; margin-top: -10%; padding: 1.5%; line-height: 28px; transform: translateY(100px); transition: all 1s; opacity: 0; float: right;}
.space1 span{width: 100px; height: 50px; background-color: #87c7ff; border-radius: 3px; font-size: 11px; padding: 8px; margin-top: 5px; cursor: pointer; font-family: 'S-CoreDream-4Regular'; color: white;}
.space2 span{width: 100px; height: 50px; background-color: #87c7ff; border-radius: 3px; font-size: 11px; padding: 8px; margin-top: 5px; cursor: pointer; font-family: 'S-CoreDream-4Regular'; color: white;}
.space3 span{width: 100px; height: 50px; background-color: #87c7ff; border-radius: 3px; font-size: 11px; padding: 8px; margin-top: 5px; cursor: pointer; font-family: 'S-CoreDream-4Regular'; color: white;}
.space4 span{width: 100px; height: 50px; background-color: #87c7ff; border-radius: 3px; font-size: 11px; padding: 8px; margin-top: 5px; cursor: pointer; font-family: 'S-CoreDream-4Regular'; color: white;}
.space1 p{font-size: 14px; line-height: 25px; margin: 10px auto;}
.space2 p{font-size: 14px; line-height: 25px; margin: 10px auto;}
.space3 p{font-size: 14px; line-height: 25px; margin: 10px auto;}
.space4 p{font-size: 14px; line-height: 25px; margin: 10px auto;}


.elephant{transform: translateY(100px); transition: all 1s; opacity: 0; margin-bottom: 120px;}
.panda{ transform: translateY(100px); transition: all 1.2s; opacity: 0; margin-bottom: 120px;}
.tiger{ transform: translateY(100px); transition: all 1.4s; opacity: 0;}
.polarbear{transform: translateY(100px); transition: all 1.6s; opacity: 0;}

.protectText{width: 100%; height: 100px; padding: 5%; text-align: center;}
.protectText>p{font-family: 'S-CoreDream-3Light';}
.protectText h1{font-family: 'S-CoreDream-5Medium';}


#press{width: 100%; height: 1500px; padding-top: 100px;}
.pressText{width:100%; text-align: center; margin-bottom: 80px;}
.pressText>p{font-family: 'S-CoreDream-3Light';}
.pressText h1{font-family: 'S-CoreDream-5Medium';}
.press_picBox{width: 50%; background-color: white; padding: 3%; float: left; margin-bottom: 60px;}
.press_picBox:hover{transform: scale(1.01); transition: all 0.1s ease-in;}
.press_picBox>img{width: 100%; margin-bottom: 20px; cursor: pointer;}
.press_picBox h3{margin-bottom: 10px; font-family: 'S-CoreDream-5Medium';}
.press_picBox h6{margin-bottom: 30px;}
.press_picBox span{width: 100px; height: 50px; background-color: #87c7ff; color: white; border-radius: 3px; font-size: 11px; padding: 8px; cursor: pointer; font-family: 'S-CoreDream-4Regular';}

iframe{border-width:0;}
}